@use './colors' as *;
@use './fonts' as *;

:global(html) {
    background-color: $bg;
    color: $text-clr;
    font-family: $cont-text;
    min-height: 100%;
    font-size: $normal-font;
}

:global(body) {
    margin: 0;
    min-height: 100dvh;
}

:global(h1, h2, h3, h4, h5, h6) {
    font-family: $heading-text;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

:global(h1) {
    font-size: $xl-font;
    color: $bg;
    width: 100%;
}

:global(h2) {
    font-size: $l-font;
}

:global(.heading-light) {
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}

:global(.heading-underlined) {
    padding: 0.2rem 0.5rem;
    display: inline-block;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.2rem;
        background-color: $accent2;
        border-radius: 3px;
    }
}

:global(button) {
    border: none;
    background: none;
    color: $text-clr;
}

:global(:root) {
    --background-size: 50vh;
}


@media (min-width: 640px) {
  :global(body) {
    width: 640px;
  }

  :global(html) {
    display: flex;
    justify-content: center;
  }
}