@use './colors' as *;
@use './fonts' as *;

:global(html) {
    background-color: $bg;
    color: $text-clr;
    font-family: $cont-text;
    min-height: 100%;
    font-size: $normal-font;
}

:global(body) {
    margin: 0;
    min-height: 100dvh;
}

:global(h1, h2, h3, h4, h5, h6) {
    font-family: $heading-text;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

:global(h1) {
    font-size: $xl-font;
    color: $bg;
    width: 100%;
}

:global(h2) {
    font-size: $l-font;
}

:global(.heading-light) {
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}

:global(.heading-underlined) {
    padding: 0.2rem 0.5rem;
    display: inline-block;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.2rem;
        background-color: $accent2;
        border-radius: 3px;
    }
}

:global(button) {
    border: none;
    background: none;
    color: $text-clr;
}

:global(:root) {
    --background-size: 50vh;
}

:global(.container-outline) {
    --padding-size: 1rem;
    --border-thickness: 0.2rem;
    width: 100%;
    margin-left: -1rem;
    padding: var(--padding-size);
    border-radius: 12px;
    border: var(--border-thickness) solid transparent;

    background: 
        linear-gradient($bg, $bg) padding-box, // normal background
        // gradient background
        linear-gradient(
            var(--angle),
            rgba(14, 79, 82, 1) 0%, 
            rgba(14, 79, 82, 1) 15%, 
            rgba(21, 95, 92, 1) 26%, 
            rgba(42, 131, 131, 1) 43%, 
            rgba(48, 145, 131, 1) 55%, 
            rgba(74, 146, 115, 1) 74%, 
            rgba(109, 200, 145, 1) 87%, 
            rgba(109, 200, 145, 1) 100%
        ) border-box;

    animation: 8s rotate linear infinite;
}

// animation to 360deg before starting again
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

// interpolate angle variable for animation
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@media (min-width: 640px) {
  :global(body) {
    width: 640px;
  }

  :global(html) {
    display: flex;
    justify-content: center;
  }
}